services:
  backend:
    container_name: dev_next_grpc_backend
    build: ./backend
    stdin_open: true
    tty: true
    command: poetry run python server/server.py
    volumes:
      - ./backend:/var/www
    ports:
      - "50051:50051"
    networks:
      - dev_next_grpc_network

  envoy:
    image: envoyproxy/envoy:v1.30.4 # https://github.com/envoyproxy/envoy/tags
    ports:
      - "8080:8080"
    volumes:
      - ./envoy/envoy.yaml:/etc/envoy/envoy.yaml
    depends_on:
      - backend
    environment:
      - ENVOY_LOG_LEVEL=trace

  frontend:
    container_name: dev_next_grpc_frontend
    build:
      context: ./frontend
      dockerfile: Dockerfile.local
    stdin_open: true
    tty: true
    command: npm run dev
    depends_on:
      - envoy
    volumes:
      - ./frontend:/var/www
    ports:
      - "8000:8000"
    networks:
      - dev_next_grpc_network

  # storybook:
  #   container_name: dev_next_grpc_storybook
  #   build:
  #     context: ./
  #     dockerfile: Dockerfile.dev
  #   command: yarn storybook
  #   tty: true
  #   volumes:
  #     - ./:/var/www
  #   ports:
  #     - '6006:6006'
  #   networks:
  #     - dev_next_grpc_network

  # db:
  #   container_name: dev_next_grpc_db
  #   image: postgres:16.3
  #   ports:
  #     - 5432:5432
  #   environment:
  #     POSTGRES_USER: hmadmin
  #     POSTGRES_PASSWORD: password
  #     PGPASSWORD: password
  #     POSTGRES_DB: dev_next_grpc_development
  #     TZ: "Asia/Tokyo"
  #   volumes:
  #     - dev_next_grpc_db_volume:/var/lib/postgresql/data
  #   networks:
  #     - dev_next_grpc_network

networks:
  dev_next_grpc_network:

volumes:
  dev_next_grpc_db_volume:
